@model Hx.IdentityServer.Model.Account.LoginViewModel
<div class="col-md-6 col-sm-6 external-providers">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">外部登录</h3>
        </div>
        <div class="panel-body">
            <ul class="list-inline">
                @foreach (var provider in Model.VisibleExternalProviders)
                {
                    <li>
                        <a class="btn btn-default"
                           asp-controller="External"
                           asp-action="Challenge"
                           asp-route-provider="@provider.AuthenticationScheme"
                           asp-route-returnUrl="@Model.ReturnUrl">
                            @provider.DisplayName
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
