<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - 海·星の博客</title>
    <link rel="stylesheet" href="~/hx/css/hx.login.css" />
    <link rel="stylesheet" href="~/hx/css/hx.login.bg.css" />
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="login"></div>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
