@{
    ViewBag.Title = "客户端资源";
    ViewBag.Active = "/client";
    bool isSuperAdmin = (ViewData["IsSuperAdmin"] as bool?) == true;
}
@section styles {
    <style>
        .star-label-nowrap label {
            white-space: pre-wrap;
            word-wrap: break-word;
            line-height: 20px;
            text-align: left;
        }
    </style>
}

@if (isSuperAdmin)
{
    <el-button class="star-mb-2" type="primary" @@click="onAdd">添加客户端</el-button>
}
<el-table :data="tableData" border style="width: 100%" :header-cell-style="{background:'#eef1f6',color:'#606266'}">
    <el-table-column prop="clientId" label="客户端Id" width="120" header-align="center">
    </el-table-column>
    <el-table-column prop="clientName" label="客户端名" width="180" header-align="center">
    </el-table-column>
    <el-table-column prop="identityTokenLifetime" label="IdentityToken时长(秒)" width="100" align="center">
    </el-table-column>
    <el-table-column prop="accessTokenLifetime" label="AccessToken时长(秒)" width="100" align="center">
    </el-table-column>
    <el-table-column prop="allowedGrantTypes" label="授权类型" header-align="center">
        <template slot-scope="scope">
            <span v-html='scope.row.allowedGrantTypes'></span>
        </template>
    </el-table-column>
    <el-table-column prop="enabled" label="是否启用" width="85" align="center">
        <template slot-scope="scope">
            <el-tag :type="scope.row.enabled?'success':'danger'" disable-transitions>
                {{scope.row.enabled? "启用":"禁用"}}
            </el-tag>
        </template>
    </el-table-column>
    <el-table-column fixed="right" label="操作" width="200" v-if="@(isSuperAdmin?"true":"false")" align="center">
        <template slot-scope="scope">
            <el-button size="mini" @@click="onEdit(scope.row)">编辑</el-button>
            <el-button type="danger" size="mini" @@click="handleDelete(scope.row)">删除</el-button>
        </template>
    </el-table-column>
</el-table>
<div class="star-float-right">
    <el-pagination @@current-change="handleCurrentChange" :current-page.sync="queryParam.pageIndex"
        :page-size="queryParam.pageSize" background layout="total, prev, pager, next" :total="totalCount">
    </el-pagination>
</div>

<partial name="~/Views/ClientsManager/Edit.cshtml" />

@section scripts {
    <script src="~/vuejs/client.js"></script>
}
