<el-drawer :title="isAdd?'添加客户端管理':'编辑客户端管理'" :visible.sync="showDrawer"
           direction="rtl"
           :before-close="handleClose"
           @@opened="handleOpened"
           size="50%">
    <div class="hx-4 hx-flex hx-flex-column hx-h-100">
        <el-form :model="form" ref="ruleForm" :rules="rules" status-icon
                 label-width="90px" class="hx-flex-fill">
            <el-form-item label="客户端id" prop="clientId">
                <el-input v-model="form.clientId" :disabled="!isAdd"></el-input>
            </el-form-item>
            <el-form-item label="客户端名称" prop="clientName">
                <el-input v-model="form.clientName"></el-input>
            </el-form-item>
            <el-form-item label="描述" prop="description">
                <el-input v-model="form.description"></el-input>
            </el-form-item>
            <el-form-item label="客户端秘钥" prop="clientSecrets">
                <el-input v-model="form.clientSecrets" :autosize="{ minRows: 2, maxRows: 4}"></el-input>
            </el-form-item>
            <el-form-item label="授权类型" prop="allowedGrantTypes">
                <el-select v-model="form.allowedGrantTypes" multiple clearable placeholder="--请选择--" style="width:100%">
                    <el-option v-for="item in grantOptions"
                               :key="item.value"
                               :label="item.label"
                               :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="是否启用" prop="enabled">
                <el-switch v-model="form.enabled"></el-switch>
            </el-form-item>
        </el-form>
        <div class="hx-flex">
            <el-button class="hx-flex-fill" @@click="showDrawer = false">取 消</el-button>
            <el-button class="hx-flex-fill" type="primary" @@click="handleSubmit('ruleForm')" :loading="loading">{{ loading ? '提交中 ...' : '提 交' }}</el-button>
        </div>
    </div>
</el-drawer>

