@{
    ViewBag.Title = "客户端资源";
    ViewBag.Active = "/clientsmanager/index";
    bool isSuperAdmin = (ViewData["IsSuperAdmin"] as bool?) == true;
}

@section styles{
    <link href="~/css/showtip.css" rel="stylesheet" />
    <style type="text/css">
        table {
            table-layout: fixed;
            word-break: break-all;
        }

        hr {
            margin: 6px;
        }
    </style>
}
@if (isSuperAdmin)
{ 
<div class="row">
    <div class="col-md-12">
        <div>
            <div class="pull-left">
                <a asp-action="CreateOrEdit" asp-route-id="0" class="btn btn-primary">
                    <span title="Create New" class="glyphicon glyphicon-plus-sign"></span> Add New
                </a>
            </div>
        </div>
    </div>
</div>
}

<br />
<el-table :data="tableData" border style="width: 100%" :header-cell-style="{background:'#eef1f6',color:'#606266'}">
    <el-table-column prop="clientId" label="客户端Id" width="120" header-align="center">
    </el-table-column>
    <el-table-column prop="clientName" label="客户端名" width="180" header-align="center">
    </el-table-column>
    <el-table-column prop="allowedGrantTypes" label="授权类型" width="120" header-align="center">
    </el-table-column>
    <el-table-column prop="allowedScopes" label="作用域" header-align="center">
    </el-table-column>
    <el-table-column prop="allowedCorsOrigins" label="允许跨域" header-align="center">
        <template slot-scope="scope">
            <span v-html='scope.row.allowedCorsOrigins'></span>
        </template>
    </el-table-column>
    <el-table-column prop="redirectUris" label="回调地址" header-align="center">
        <template slot-scope="scope">
            <span v-html='scope.row.redirectUris'></span>
        </template>
    </el-table-column>
    <el-table-column prop="postLogoutRedirectUris" label="退出回调" header-align="center">
        <template slot-scope="scope">
            <span v-html='scope.row.postLogoutRedirectUris'></span>
        </template>
    </el-table-column>
    <el-table-column fixed="right" label="操作" width="200" v-if="@(isSuperAdmin?"true":"false")" align="center">
        <template slot-scope="scope">
            <el-button size="mini" @@click="handleEdit(scope.row)">编辑</el-button>
            <el-button type="danger" size="mini" @@click="handleDelete(scope.row)">删除</el-button>
        </template>
    </el-table-column>
</el-table>
<div class="hx-float-right">
    <el-pagination @@current-change="handleCurrentChange"
                   :current-page.sync="queryParam.pageIndex"
                   :page-size="queryParam.pageSize"
                   background
                   layout="total, prev, pager, next"
                   :total="totalCount">
    </el-pagination>
</div>

@section scripts{
    <script src="~/vuejs/clientmanager.js"></script>
}

