/*左侧边颜色*/
.hx-dark .hx-aside {
    /*background-color: #2c2e3e;*/
    background-color: #3b3e47;
}

.hx-dark .hx-navbar {
    -webkit-box-shadow: 0px 1px 15px 1px rgb(69 65 78 / 10%);
    box-shadow: 0px 1px 15px 1px rgb(69 65 78 / 10%);
}

.hx-dark .hx-brand {
    background: #282a3c
}

.hx-dark a.hx-aside-text,
.hx-dark a > .hx-aside-text {
    color: #868aa8;
}

.hx-dark .active a.hx-aside-text,
.hx-dark .active a > .hx-aside-text {
    color: #716aca;
}

.hx-dark .hx-aside-link {
    color: #8c8ea4;
}

    .hx-dark .hx-aside-link:hover,
    .hx-dark .hx-aside-menu-item.active .hx-aside-link,
    .hx-dark .hx-aside-submenu-item.active.hx-aside-link {
        color: #716aca;
        background: rgba(0, 0, 0, 0.2)
    }

.hx-dark .hx-aside-menu-item.active .hx-aside-link:not(.active):hover {
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    background-color: #292b3a;
}

        .hx-dark .hx-aside-menu-item.active .hx-aside-link:not(.active):hover .hx-aside-link {
            color: #716aca;
        }

/* dropdown,有子节点时*/
.hx-dark .hx-aside-submenu,
.hx-dark .hx-aside-menu-item.show {
    background-color: #292b3a;
}

.hx-dark .hx-aside-submenu-item {
    color: #b2b8be;
}
