@model RegisterViewModel
@{
    ViewBag.Title = "注册";
}

<div class="container pt-4">
    <div class="row justify-content-center">
        <div class="col-md-6 ">
            @*<partial name="_ValidationSummary" />*@
            <partial name="~/Views/Partial/Register.cshtml" />
        </div>
    </div>
</div>
@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/dist/localization/messages_zh.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js"></script>
    <script src="~/js/hx.account.js"></script>
    <script src="~/js/hx.register.js"></script>
}

