body {
    margin:unset;
    padding:unset;
}

/*Common*/
.hx-border-top {
    border-top: 1px solid #e5e5e5;
}
.hx-border-bottom {
    border-bottom: 1px solid #e5e5e5;
}
.hx-box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

