.hx-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}
.hx-flex-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
}
.hx-justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}
.hx-justify-content-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}
.hx-align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}



