@{
    string active = ViewBag.Active;
}
<aside class="d-flex flex-column star-aside star-aside-dark">
    <div class="star-aside-menu flex-fill star-bg-light star-aside-text">
        <ul class="navbar-nav flex-column pt-4">
            <li class="star-aside-menu-item @(string.IsNullOrEmpty(active) || active == "account"?"active":"")">
                <a class="star-aside-link" href="/account/list">
                    <i class="fa fa-file-text"></i>
                    <span class="star-aside-link-text">用户管理</span>
                </a>
            </li>
            <li class="star-aside-menu-item @(active == "client"?"active":"")">
                <a class="star-aside-link" href="/ClientsManager/index">
                    <i class="fa fa-recycle"></i>
                    <span class="star-aside-link-text">客户端管理</span>
                </a>
            </li>
            <li class="star-aside-menu-item @(active == "apiresource"?"active":"")">
                <a class="star-aside-link" href="/ApiResourcesManager/index">
                    <i class="fa fa-edge"></i>
                    <span class="star-aside-link-text">资源api</span>
                </a>
            </li>
            <li class="star-aside-menu-item @(active == "grants"?"active":"")">
                <a class="star-aside-link" href="/grants">
                    <i class="fa fa-edge"></i>
                    <span class="star-aside-link-text">授权</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
