@{
    string active = ViewBag.Active;
    active = string.IsNullOrEmpty(active) ? "/" : active;
}
<el-aside class="starshine-flex starshine-flex-column starshine-aside" :class="isCollapse?'starshine-aside-mini':''"
    :style="isCollapse ?'width: 3.75rem;':'width: 14rem;'">
    <div class="starshine-flex starshine-aside-brand starshine-justify-content-center">
        <div class="starshine-flex starshine-align-items-center starshine-brand-logo">
            <a class="starshine-flex starshine-text-white" href="/">
                海·星の博客
            </a>
        </div>
        <button class="starshine-navbar-toggler thin-toggler" type="button" @@click="isCollapse=!isCollapse">
            <span class="starshine-navbar-toggler-icon"></span>
        </button>
    </div>
    <el-scrollbar wrap-class="" class="starshine-aside-scrollbar">
        <el-menu default-active="@active" class="starshine-aside-menu" unique-opened background-color="#3b3e47"
            text-color="#fff" active-text-color="#ffd04b" :collapse="isCollapse" @@select="onMenuSelect">
            <el-menu-item index="/">
                <i class="el-icon-user"></i>
                <span slot="title">用户管理</span>
            </el-menu-item>
            <el-menu-item index="/role">
                <i class="el-icon-menu"></i>
                <span slot="title">角色管理</span>
            </el-menu-item>
            <el-submenu index="/client">
                <template slot="title">
                    <i class="el-icon-menu"></i>
                    <span>客户端管理</span>
                </template>
                <el-menu-item index="/client">客户端</el-menu-item>
                <el-menu-item index="/client/sc">配置作用域/跨域</el-menu-item>
                <el-menu-item index="/client/ru">配置回调地址</el-menu-item>
            </el-submenu>
            @*<el-menu-item index="/client">
            <i class="el-icon-menu"></i>
            <span slot="title">客户端管理</span>
            </el-menu-item>*@
            <el-menu-item index="/apiresource">
                <i class="el-icon-document"></i>
                <span slot="title">资源api</span>
            </el-menu-item>
            <el-menu-item index="/grants">
                <i class="el-icon-setting"></i>
                <span slot="title">授权</span>
            </el-menu-item>
        </el-menu>
    </el-scrollbar>

</el-aside>
