@using IdentityServer4.Extensions
@{
    string name = Context.User?.GetDisplayName();
}

<el-header class="hx-navbar hx-justify-content-end" style="height:3.5rem;">
    <span>@name</span>
    <el-link :underline="false" href="/oauth2/logout">注销</el-link>
    @*<a class="menu-item my-1 btn btn-outline-primary" href="/oauth2/logout">注销</a>*@
</el-header>